<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <nav>
        <a href="/">HOME</a> |
        <a href="/register">REGISTER</a> |
        <a href="/login">LOGIN</a>
    </nav>
        <div class="user-detail">
            <h2>PLEASE REGISTER YOURSELF</h2>
            <form method="POST" preventDefault()>
                <label>Full Name: </label>
                <input type="text" placeholder="Enter Your First Name" name="user_fullname" required> <br>
                <label>Email Address: </label>
                <input type="email" placeholder="Enter Your Email Address" name="email" required> <br>
                <label>Password: </label>
                <input type="password" placeholder="Enter Your Password" name="password" required> <br>
                <label>Phone Number</label>
                <input type="phone number" placeholder="Enter Your Phone Number" name="phone_number" required> <br>
                <label>Join Date</label>
                <input type="date" placeholder="Enter Join Date" name="join_date" required> <br>
                <button type="submit">Submit</button>
            </form>
        </div>
</body>
</html>