
*{
    color:black
}

#user-ep{
    position: relative !important;
    left: 3rem !important;
}

body{
    min-height: 100vh;
    min-width: 100vw;
}

.px-5{
    position: relative !important;
    left: 3rem !important;

}
